.holdInput {
    // height: 250px;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 50%;
        height: 50px;
        font-size: 1.5rem;
    }
}