.tagCategoryContainer {
    display: inline-block;
    margin: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .tagCategoryContainer:hover {
    transform: translateY(-2px);
  }
  
  .tagCategoryLink {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color:var(--white);
    border-radius: 5px;
    text-decoration: none;
    color: var(--light-blue);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    opacity: 0.8;
  }
  
  .tagCategoryLink:hover {
    background-color: var(--light-blue);
    color:var(--white);
    opacity: 0.8;
  }
  
  .tagCategoryName {
    margin-right: 0.5rem;
  }
  
  .tagCategoryArrow {
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .tagCategoryLink:hover .tagCategoryArrow {
    transform: translateX(3px);
  }
  