.holdVideos {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
  & :not(:hover) {
   transition: all ease-in-out 0.2s;
  }
}
.holdVideos > a:hover{
    scale: 1.05;
    transition: all 0.2s ease-in-out;
}
.holdVideos:hover > :not(:hover){
    filter:grayscale(100%);
    // filter:blur(5px);
}

.card {
  box-shadow: var(--box-shadow);
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: 45px;
  z-index: 1;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 3px 6px;
}


@media (700px > width) {
  .holdVideos {
    padding: 2rem;
  }

  .card {
    height: 190px;
  }
}
.loadingCard{
  margin: auto;
  width: 250px;
  height: 160px;
  background-color: rgb(165, 165, 165);
  border-radius: 10px;
  animation: blink 3s infinite linear;
  @media (580px > width) {
    width: 90%;
    height: 190px;
  }
}
@keyframes blink {
  0%{opacity: 1;}
  50%{opacity: 0.2;}
  100%{opacity: 1;}
}