.linear {
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: white;
    overflow: hidden;
}

.linear::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/image.png');
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}

.linear::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--blue-gradient);
    opacity: 0.6;
    z-index: -1;
}


.container {
    text-align: center;
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}