.holdVideos {
    width: 100%;
    display: flex;
    background-color: rgb(252, 213, 213);
    overflow-x: auto;
    // align-items: center;
    // justify-content: center;
    // padding: 10px;
}

.image {
    // flex-shrink: 0;
    // border-radius: 10px;
    // height: 70%;
    // width: 100%;
    // aspect-ratio: 4/3;
    height: 70%;
    object-fit: cover;
    width: 100%;
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.holdCard {
    padding: 10px;
    flex-shrink: 0;

    a {
        padding: 10px;
        display: block;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.342);
        border-radius: 10px;
        height: 300px;
        width: 400px;
    }
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


.holdVideos {

    @media (width < 568px) {
        scroll-snap-type: x mandatory;

        .holdCard {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            // height: 80%;
            scroll-snap-align: start;

            a{
                width: 100%;
            }
        }

        .text {
            font-size: 14px;
        }

    }
}