.image {
  height: 70%;
  object-fit: cover;
  width: 100%;
}
.carousel {
  @media(width < 568px)  {
    display: none;
  }
  @media(width < 1100px)  {
    max-width: 850px;
  }
  width: 100%;
  position: relative;
  max-width: 1250px;
}
.text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.holdCard {
  padding: 10px;
  flex-shrink: 0;
  a {
    padding: 10px;
    display: block;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    height: 300px;
    width: 400px;
    &:hover {
      box-shadow: var(--box-shadow);
      scale: 1.05;
    }
  }
}
.holdVideos {
  display: flex;
  overflow-x: hidden;
  background-color: rgb(255, 193, 193);
  width: 100vw;
}
.carouselPhone{
  @media(width > 568px)  {
   display: none; 
  }
}
.holdVideos {
  @media (width < 568px) {
    overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
}
.holdCard {
  @media (width < 568px) {
    flex-shrink: 0;
    width: 100vw;
    height: 100%;
    // height: 80%;
    scroll-snap-align: start;
    a {
      width: 100%;
    }
  }
  .text {
    font-size: 14px;
  }
}
