@import "./vars.scss";

main.main {
    display: flex;
    // align-items: center;
    flex-direction: column;
    position: relative;
    scroll-snap-type: y mandatory;

    .section {
        scroll-snap-align: start;
        position: relative;
        padding: 10vh 0;
        gap: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background: -moz-linear-gradient(left, #0677DD 0%, #045197 51%, #034077 80%);
        background: -webkit-linear-gradient(left, #0677DD 0%, #045197 51%, #034077 80%);
        background: linear-gradient(to right, #0677ddeb 0%, #045197d6 51%, #034077d9 80%);

        .logoTextContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-align: center;
            font-family: var(--font-bona);

            p {
                max-width: 300px;
                font-size: 1rem;
            }

            h1 {
                font-size: 4.6rem;
            }
        }

        .inputContainer {

            .input {
                width: 310px;
                height: 50px;
            }
        }

        // .homeNavContainer {
        //     width: 70%;
        //     padding: 4rem 1rem;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     flex-wrap: wrap;

        //     a {
        //         margin: 1rem;
        //         width: 28%;
        //         font-size: 1.4rem;
        //         color: #fff;
        //         font-weight: 700;
        //         padding: 2rem;
        //         text-decoration: none;
        //         transition: .2s;
        //         border: 1px solid;
        //         border-radius: 10px;
        //         text-align: center;

        //         &:hover {
        //             transform: scale(1);
        //             box-shadow: 0 0 6px 2px #fff;
        //         }

        //         &:nth-child(1),
        //         &:nth-child(5) {
        //             background-color: rgba(0, 38, 81, 0.79);
        //         }

        //         &:nth-child(2),
        //         &:nth-child(6) {
        //             background-color: rgba(0, 38, 81, 0.48);
        //         }

        //         &:nth-child(3) {
        //             background-color: rgba(0, 92, 164, 0.54);
        //         }

        //         &:nth-child(4) {
        //             background-color: rgba(0, 92, 164, 0.54);
        //         }

        //     }
        // }

        img {
            object-fit: cover;
            opacity: .8;
            width: 100%;
            height: 100%;
            // position: absolute;
            // top: 0;
            // left: 0;
            z-index: -1;
        }

        .goToWhatsApp {
            display: none;
        }
    }

    .tags {
        display: flex;
        padding: 2rem 1rem 0 1rem;
        // width: min(100%, 1100px);
        gap: 1.5rem;
        // justify-content: center;
        overflow-x: auto;
        scroll-behavior: smooth;
        width: fit-content;
        max-width: 100%;
        // flex-wrap: wrap;
        margin: 0 auto;
        scroll-snap-type: x mandatory;

        a {
            scroll-snap-align: start;
            flex-shrink: 0;
            flex-grow: 0;
            display: block;

            p {
                text-align: center;
                width: 100px;
                font-weight: 600;
                padding-bottom: .5rem;
            }

            img {
                border-radius: 50%;
            }
        }

    }

    .section2 {
        padding: 2rem 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;

        .section2Container {
            width: 95%;
            padding: 1rem;
            max-width: 500px;
        }
    }
}

@media (width < $lg) {
    main.main {
        .section {
            padding: 3rem 1rem;
            gap: 1.5rem;

            .goToWhatsApp {
                cursor: pointer;
                padding: .6rem .6rem;
                -webkit-animation: wobble-hor-bottom 0.8s 1 1s both;
                animation: wobble-hor-bottom 0.8s 1 1s both;
                color: #fff;
                border: 2px solid #034077;

                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                text-decoration: none;
                font-family: var(--font-bona);
                font-weight: 700;
                gap: .6rem;

                &:hover {
                    box-shadow: var(--box-shadow);
                }
            }

            .inputContainer {
                justify-content: center;
                padding-top: 1.8rem;

                .input {
                    .input {
                        width: 310px;
                        height: 50px;
                    }
                }
            }

            .homeNavContainer {
                width: 100%;
                padding: 1rem .4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;


                a {
                    margin: .6rem;
                    width: 44%;
                    padding: 2rem 1rem;
                    font-size: 1rem;
                    max-width: 180px;

                    &:hover {
                        transform: scale(1.01);
                    }
                }
            }
        }
    }
}

@-webkit-keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}