$sm: 568px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

.cardQuestion {
    padding: 1rem;
    border-radius: 10px;
    transition: .1s;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #f0f0f0;

    &:hover {
        box-shadow: var(--box-shadow);
        // scale: 1.03;

        h3 {
            text-decoration: underline;
        }
    }
}


@mixin questionTxtShort($lines: 3, $fsz: .8rem) {
    color: #333333;
    overflow: hidden;
    width: 100%;
    line-height: 1.4em;
    height: calc(#{$lines} * 1.4 * #{$fsz});
    font-size: $fsz;
    display: flex;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

.pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}