@import '../../app/vars.scss';

.EventNav {
    display: flex;
    flex-wrap: wrap;

    h2 {
        text-align: center;
        width: 100%;
        font-family: var(--font-bona);
        color: #034077;
    }

    .container {
        // width: 50%;
        height: 100%;
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
        flex-direction: column;


        .article {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .4rem;
            text-decoration: none;
            @extend .cardQuestion;


            h3 {
                font-size: 1.1rem;
                color: #034077;
                font-family: var(--font-bona);

            }

            p {
                @include questionTxtShort(3, .8rem);
            }


        }


    }
}