.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    min-width: 350px;
    font-family: 700;
    font-size: 24px;
    color: #ffffff;
    background: linear-gradient(to top, rgba(6, 119, 221, 0.8), rgba(4, 81, 151, 0.8), rgba(3, 64, 119, 0.8));
    text-decoration: none;
    border-radius: 7px;
    padding: 12px 5px;
}

.logo{
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .logo, .container{
        font-size: 27px;

    }

  }
