.container {
    background-color: var(--gray);
    border-radius: 0 0 40px 40px;
    height: fit-content;
    height: 60vh;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    font-weight: 600;
    overflow: auto;
    margin-bottom: 35px;

    details:not([open]) summary .minus {
        display: none;
    }

    details[open] summary .plus {
        display: none;
    }


    summary {
        list-style: none;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: flex-end;

        li {
            width: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: inherit;
                user-select: none;
                padding: .4rem .2rem;
            }

            details {
                width: 100%;
            }

            summary {
                width: 100%;
            }
        }

        svg {
            font-size: .8rem;

            margin: 0 .2rem;
        }
    }
}

.title {
    display: flex;
    padding-right: 10px;
    gap: 6px;
    align-items: center;
    color: var(eprimary-blue);
    font-size: 1.15rem;
}

.title:hover {
    background-color: #a8949456;
    cursor: pointer;
}

.parents {
    // margin-right: 2px;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: .7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeHolderIcon {
    width: 20px;
}


.container::-webkit-scrollbar-track {
    margin: 35px 0;
     border-radius: 10px; 
}

  .container::-webkit-scrollbar-thumb {
    // background: #a8949456;
    border-radius: 10px; 
}