.container{
    margin-right: 20px;
    a{
        text-decoration: none;
        color: inherit;
    }
    details:not([open]) summary .minus {
        display: none;
      }
      
      details[open] summary .plus {
        display: none;
      }
}
.title{
    display: flex;
    gap: 6px;
    align-items: center;
}
.title:hover{
background-color: #a89494a9;
cursor: pointer;
}