.container{
    padding-right: 20px;
    a{
        text-decoration: none;
        color: inherit;
    }
    details:not([open]) summary .minus {
        display: none;
      }
      
      details[open] summary .plus {
        display: none;
      }
}
.title{
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--primary-blue);
    font-size: 10px;

}
.container:hover{
background-color: #a8949456;
cursor: pointer;
}
.minus,
.plus, 
.placeHolderIcon {
    width: 8px;
    height: 8px;
}