.linear {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: white;
    overflow: hidden;
}

.font {
    font-size: 45px;
}

.container {
    text-align: center;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}


.text {
    position: relative;
    z-index: 3;
}

.colorOpacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: linear-gradient(to right, rgba(194, 44, 44, 0.7), rgb(23, 235, 16));
    z-index: 1;
    background: var(--blue-gradient);
    opacity: 0.6;
    // z-index: -1;
}

.image {
    z-index: -1;
    opacity: 0.8;
    object-fit: cover;
}
.LinkParent{
    color: var(--white);
}